body{
    color: black;
}
.menu1{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)), url(../images/background2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
}
a{
    color: black;
}
img{
    width: 366px;
    height: 300px; 
    /* margin: 2%  */
    padding: 5%;
    transform: scale(1);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
img:hover{
    transform: scale(1.3);
}
.crust{
    background-color: white;
    color: black;
}
h3{
    color: yellow;
}
.prices{
  margin-top: 2%;
  padding-left: 5%;
}
#menuHeading{
    font-family: 'Roboto';
    font-size: 60px;
    color: white;
}
.heading{
    font-family: 'Roboto';
    font-size: 55px;
    color: #ffc40c;
    font-weight: bold;

}
h1{
    color: yellow;
}